In [13]:
import os
import pandas as pd
import numpy as np

In [14]:
#file to load
#load sales(consumption)
#load monthly total fuel 

sales_load = 'Resources/sales_revenue copy.csv'
# monthly_total_fuel = 'Resources/Monthly_Total_Fuel.csv'

#store the data as Pandas DataFrame
sales_load_df = pd.read_csv(sales_load)
# monthly_total_fuel_df = pd.read_csv(monthly_total_fuel ,header = [0])

In [15]:
'''
merge year and month to a datetime data type
remove , to make numbers whole convert to int
remove . 





'''

'\nmerge year and month to a datetime data type\nremove , to make numbers whole convert to int\nremove . \n\n\n\n\n\n'

In [16]:
# consumption data per sector and per states since 1990
# data can be useful in analyzing GDP per sectors, and or States
sales_load_df

,Year,Month,State,Data Status,R/Revenue/Thousand Dollars,R/Sales/Megawatthours,R/Customers/Count,R/Price/Cents/kWh,C/Revenue/Thousand Dollars,C/Sales/Megawatthours,...,T/Customers/Count,T/Price/Cents/kWh,O/Revenue/Thousand Dollars,O/Sales/Megawatthours,O/Customers/Count,O/Price/Cents/kWh,T/Revenue/Thousand Dollars.1,T/Sales/Megawatthours.1,T/Customers/Count.1,TPrice/Cents/kWh
0,1990,1,AK,Final,"17,477","181,752",.,9.62,"15,818","178,259",...,.,.,"1,918","14,816",.,12.95,"38,848","416,438",.,9.33
1,1990,1,AL,Final,"123,332","2,070,093",.,5.96,"54,495","820,415",...,.,.,"2,851","53,954",.,5.28,"268,440","5,044,008",.,5.32
2,1990,1,AR,Final,"72,506","1,026,320",.,7.06,"30,966","474,988",...,.,.,"3,117","47,600",.,6.55,"143,635","2,331,399",.,6.16
3,1990,1,AZ,Final,"109,332","1,396,499",.,7.83,"82,694","1,081,793",...,.,.,"7,833","151,064",.,5.19,"243,133","3,439,153",.,7.07
4,1990,1,CA,Final,"597,161","6,168,009",.,9.68,"508,517","6,011,774",...,.,.,"32,100","869,565",.,3.69,"1,406,536","17,504,013",.,8.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19426,2021,9,VT,Preliminary,"31,345","160,261","318,649",19.56,"26,561","157,063",...,0,0,.,.,.,.,"71,015","429,512","379,134",16.53
19427,2021,9,WA,Preliminary,"250,236","2,406,450","3,223,961",10.40,"210,012","2,266,805",...,5,9.98,.,.,.,.,"569,537","6,460,520","3,652,444",8.82
19428,2021,9,WI,Preliminary,"255,973","1,698,928","2,767,537",15.07,"218,764","1,942,036",...,2,14.19,.,.,.,.,"636,485","5,618,333","3,136,865",11.33
19429,2021,9,WV,Preliminary,"95,922","754,768","862,239",12.71,"55,912","581,169",...,0,0,.,.,.,.,"226,569","2,499,882","1,022,112",9.06
19430,2021,9,WY,Preliminary,"22,285","184,896","279,535",12.05,"27,424","281,554",...,0,0,.,.,.,.,"102,812","1,242,118","349,841",8.28

In [17]:
sales_load_df = sales_load_df.replace('.', '', limit=0)

In [19]:
# sales_load_df

In [20]:
#take out the , change to ()
for row in sales_load_df:
    for column in sales_load_df:
        sales_load_df.replace(',','', regex=True, inplace=True)

In [21]:
sales_load_df

,Year,Month,State,Data Status,R/Revenue/Thousand Dollars,R/Sales/Megawatthours,R/Customers/Count,R/Price/Cents/kWh,C/Revenue/Thousand Dollars,C/Sales/Megawatthours,...,T/Customers/Count,T/Price/Cents/kWh,O/Revenue/Thousand Dollars,O/Sales/Megawatthours,O/Customers/Count,O/Price/Cents/kWh,T/Revenue/Thousand Dollars.1,T/Sales/Megawatthours.1,T/Customers/Count.1,TPrice/Cents/kWh
0,1990,1,AK,Final,17477,181752,,9.62,15818,178259,...,,,1918,14816,,12.95,38848,416438,,9.33
1,1990,1,AL,Final,123332,2070093,,5.96,54495,820415,...,,,2851,53954,,5.28,268440,5044008,,5.32
2,1990,1,AR,Final,72506,1026320,,7.06,30966,474988,...,,,3117,47600,,6.55,143635,2331399,,6.16
3,1990,1,AZ,Final,109332,1396499,,7.83,82694,1081793,...,,,7833,151064,,5.19,243133,3439153,,7.07
4,1990,1,CA,Final,597161,6168009,,9.68,508517,6011774,...,,,32100,869565,,3.69,1406536,17504013,,8.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19426,2021,9,VT,Preliminary,31345,160261,318649,19.56,26561,157063,...,0,0,,,,,71015,429512,379134,16.53
19427,2021,9,WA,Preliminary,250236,2406450,3223961,10.40,210012,2266805,...,5,9.98,,,,,569537,6460520,3652444,8.82
19428,2021,9,WI,Preliminary,255973,1698928,2767537,15.07,218764,1942036,...,2,14.19,,,,,636485,5618333,3136865,11.33
19429,2021,9,WV,Preliminary,95922,754768,862239,12.71,55912,581169,...,0,0,,,,,226569,2499882,1022112,9.06
19430,2021,9,WY,Preliminary,22285,184896,279535,12.05,27424,281554,...,0,0,,,,,102812,1242118,349841,8.28

In [24]:
sales_load_df= sales_load_df[[ 'T/Revenue/Thousand Dollars.1','T/Sales/Megawatthours.1','TPrice/Cents/kWh']].astype(float)

In [26]:
sales_load_df.dtypes

T/Revenue/Thousand Dollars.1    float64
T/Sales/Megawatthours.1         float64
TPrice/Cents/kWh                float64
dtype: object

In [ ]:
sales_load_df.columns

In [ ]:
 = df.columns.str.replace(' ','_')

In [ ]:
# sales_load_df.columns.levels

In [ ]:
# sales_load_df.index.levels

In [ ]:
# sales_load_df.columns.get_level_values(0)
# sales_load_df.columns.get_level_values(1)
# sales_load_df.columns.get_level_values(2)

In [ ]:
# sales_load_df.keys()

In [ ]:
sales_load_df.info()

In [ ]:
#convert columns to respective data types

In [ ]:
#remove , to () create loop
#remove indexes

In [ ]:
sales_load_df.loc[[1990], ('RESIDENTIAL', 'Revenue')]

In [ ]:
sales_load_df.RESIDENTIAL

In [ ]:
sales_load_df.RESIDENTIAL.convert_dtypes

In [ ]:
sales_load_df.RESIDENTIAL.dtypes

In [ ]:
test = pd.to_numeric(sales_load_df.RESIDENTIAL.astype(float).apply('-'.join, 1))

In [ ]:
sales_load_df.RESIDENTIAL.count()

In [ ]:
## monthly total energy used in all sectors
# This data is useful to have an understanding of the energy use in the US since 2001
# monthly_total_fuel_df.head()

In [ ]:
#check nan in monthly_total_fuel
# monthly_total_fuel_df.isnull().values.any()

In [ ]:
# data info monthly_total_fuel_df
# monthly_total_fuel_df.info()

In [ ]:
#convert monthly fuel month to date