In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#file to load
#load sales(consumption)

sales_load = 'Resources/sales_revenue.csv'
monthly_total_fuel = 'Resources/Monthly_Total_Fuel.csv'

#store the data as Pandas DataFrame
sales_load_df = pd.read_csv(sales_load)
monthly_total_fuel_df = pd.read_csv(monthly_total_fuel)

In [3]:
# consumption data per sector and per states
# data can be useful in analyzing GDP per sectors, and or States
sales_load_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,RESIDENTIAL,Unnamed: 5,Unnamed: 6,Unnamed: 7,COMMERCIAL,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,OTHER,Unnamed: 21,Unnamed: 22,Unnamed: 23,TOTAL,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,NaN,NaN,NaN,NaN,Revenue,Sales,Customers,Price,Revenue,Sales,...,Customers,Price,Revenue,Sales,Customers,Price,Revenue,Sales,Customers,Price
1,Year,Month,State,Data Status,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,...,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh
2,1990,1,AK,Final,"17,477","181,752",.,9.62,"15,818","178,259",...,.,.,"1,918","14,816",.,12.95,"38,848","416,438",.,9.33
3,1990,1,AL,Final,"123,332","2,070,093",.,5.96,"54,495","820,415",...,.,.,"2,851","53,954",.,5.28,"268,440","5,044,008",.,5.32
4,1990,1,AR,Final,"72,506","1,026,320",.,7.06,"30,966","474,988",...,.,.,"3,117","47,600",.,6.55,"143,635","2,331,399",.,6.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19429,2021,9,WA,Preliminary,"250,236","2,406,450","3,223,961",10.40,"210,012","2,266,805",...,5,9.98,.,.,.,.,"569,537","6,460,520","3,652,444",8.82
19430,2021,9,WI,Preliminary,"255,973","1,698,928","2,767,537",15.07,"218,764","1,942,036",...,2,14.19,.,.,.,.,"636,485","5,618,333","3,136,865",11.33
19431,2021,9,WV,Preliminary,"95,922","754,768","862,239",12.71,"55,912","581,169",...,0,0.00,.,.,.,.,"226,569","2,499,882","1,022,112",9.06
19432,2021,9,WY,Preliminary,"22,285","184,896","279,535",12.05,"27,424","281,554",...,0,0.00,.,.,.,.,"102,812","1,242,118","349,841",8.28
19433,"For October and November 2017, Puerto Rico Ele...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# monthly total energy used in all sectors
# This data is useful to have an understanding of the energy use in the US since 2001
monthly_total_fuel_df

                                                                                                                  Net generation for all sectors monthly
https://www.eia.gov/electricity/data/browser/#/... 0                                                   1&fuel=vtvv&geo=vvvvvvvvvvvvo&sec=g&freq=M&sta...
16:42:37 GMT-0500 (EST)                            NaN                                                                                               NaN
Source: U.S. Energy Information Administration     NaN                                                                                               NaN
Month                                              United States : all fuels (utility-scale) thous...                                                NaN
Oct 2021                                           321061.68532                                                                                      NaN
...                                                                                                                                                  ...
May 2001                                           300491.621                                                                                        NaN
Apr 2001                                           278078.871                                                                                        NaN
Mar 2001                                           300706.544                                                                                        NaN
Feb 2001                                           282940.198                                                                                        NaN
Jan 2001                                           332493.16                                                                                         NaN

[254 rows x 1 columns]

In [ ]:
#Clean the data